@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --main-green-color: #37AB48;
    --hover-green: #378544;
    --default-border-radius: 10px;
    --btn-padding: .7rem 1.5rem;
    --logo-width: 160px;
    --header-padding: 2rem 1rem;
    --default-border: 1px solid #ededed;
}

/* Header */
header {
    padding: var(--header-padding);
    display: flex;
    width: 100vw;
    justify-content: center;
    border-bottom: var(--default-border);
    /* margin-bottom: 2rem; */
}

#logo {
    width: var(--logo-width);
}

/* login container */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.register-container {
    border: var(--default-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: var(--default-border-radius);
    position: relative;
}

.back-btn {
    position: absolute;
    top: -30px;
    left: 5px;
    text-decoration: none;
    color: var(--main-green-color);
    transition: .3s;
}

.back-btn:hover {
    color: var(--hover-green);
}

.register-container h2 {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

.box, #register-btn {
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    padding: .7rem .5rem;
    width: 400px;
    margin: .5rem 0 1rem;
}

#register-btn {
    background-color: var(--main-green-color);
    font-size: 1.1rem;
    transition: .3s;
    cursor: pointer;
    margin: .5rem;
}

#register-btn:hover {
    background-color: var(--hover-green);
}

#register-btn a {
    text-decoration: none;
    color: #fff;
}

.alt-btns {
    margin: 1rem 0;
}

.alt-register-btn {
    padding: .5rem .6rem;
    border-radius: 50%;
    text-decoration: none;
    color: var(--main-green-color);
    border: var(--default-border);
    transition: .3s;
}

.alt-register-btn:hover {
    color: #fff;
    background-color: var(--main-green-color);
}

.create-account-link {
    margin-top: 1.5rem;
}

.create-account-link a {
    text-decoration: none;
    color: var(--main-green-color);
    font-weight: bold;
    transition: .3s;
}

.create-account-link a:hover {
    color: var(--hover-green);
}

/* footer */
footer {
    width: 100vw;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}