@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --main-green-color: #37AB48;
    --hover-green: #378544;
    --default-border-radius: 10px;
    --btn-padding: .7rem 1.5rem;
    --logo-width: 160px;
    --header-padding: 2rem 1rem;
    --default-border: 1px solid #ededed;
}

.selected {
    color: var(--hover-green) !important;
    font-weight: bold;
}

/* CABEÇALHO */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 6rem;
    border-bottom: var(--default-border);
    background-color: #fff;
}

.logo img {
    width: 160px;
}

.search-bar input {
    width: 600px;
    padding: .6rem;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    font-size: 1rem;
}

.search-bar input:focus {
    outline: .5px solid #616161;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.menu ul li a {
    text-transform: capitalize;
    font-size: 16px;
    color: #1f1f1f;
    transition: .2s;
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--main-green-color);
}

.announce {
    padding: var(--btn-padding);
    border-radius: 16px;
    border: 1px solid #d3d3d3;
    background-color: var(--main-green-color);
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.bi-megaphone-fill {
    font-size: 10px;
}

.announce:hover {
    background-color: var(--hover-green);
}

.right-side {
    display: flex;
    gap: 8px;
}

.account-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-green-color);
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
}

.account-btn:hover {
    background-color: var(--hover-green);
}

/* FIM DO CABEÇALHO */

/* MAIN */
.back-btn {
    text-decoration: none;
    color: var(--main-green-color);
    transition: .3s;
}

main {
    display: flex;
    justify-content: center;
}


.catalog-container {
    margin: 5rem;
    width: 1200px;
    text-align: center;
    position: relative;
}

.catalog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3.5rem;
}

.teste {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order-by {
    display: flex;
    align-items: center;
    gap: 10px;
}

#order {
    border: none;
    outline: none;
    color: var(--main-green-color);
    font-weight: bold;
}

.catalog-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.catalog-item {
    border: var(--default-border);
    /* padding: 1rem; */
    border-radius: var(--default-border-radius);
    /* flex: 1 1 calc(25% - 50px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-name {
    margin-bottom: 1rem;
}

.item-quant {
    font-weight: normal;
    color: #666666;
    font-size: .9rem;
    margin-bottom: 1rem;
}

.item-image img {
    width: 180px;
    border-radius: 1rem;
    margin-bottom: .4rem;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.item-price, .item-price span {
    color: #000;
    font-size: 1.1rem;
}

.counter {
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.counter button {
    padding: .3rem .6rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.buy-area {
    display: flex;
    gap: 30px;
    padding: 1rem;
    border-top: var(--default-border);
    align-items: center;
}

.item-btn {
    text-decoration: none;
    background-color: var(--main-green-color);
    color: #fff;
    padding: var(--btn-padding);
    border-radius: var(--default-border-radius);
    transition: .3s;
}

.item-btn:hover {
    background-color: var(--hover-green); 
}

/* FOOTER */
footer {
    width: 100vw;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/* RESPONSIVIDADE */
@media (max-width: 1480px) {
    .search-bar input {
        width: 300px;
    }

    .catalog-items {
        flex-wrap: wrap;
    }

    .item-image img {
        width: 100px;
    }
    
}

@media (max-width: 1180px) {
    /* . */

    .right-side {
        display: none;
    }
}