@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --main-green-color: #37AB48;
    --hover-green: #378544;
    --default-border-radius: 10px;
    --btn-padding: .7rem 1.5rem;
    --logo-width: 160px;
    --header-padding: 2rem 1rem;
    --default-border: 1px solid #ededed;
}

/* CABEÇALHO */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 6rem;
    border-bottom: var(--default-border);
    background-color: #fff;
}

.logo img {
    width: 160px;
}

.search-bar input {
    width: 600px;
    padding: .6rem;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    font-size: 1rem;
}

.search-bar input:focus {
    outline: .5px solid #616161;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.menu ul li a {
    text-transform: capitalize;
    font-size: 16px;
    color: #1f1f1f;
    transition: .2s;
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--main-green-color);
}

.announce {
    padding: var(--btn-padding);
    border-radius: 16px;
    border: 1px solid #d3d3d3;
    background-color: var(--main-green-color);
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.bi-megaphone-fill {
    font-size: 10px;
}

.announce:hover {
    background-color: var(--hover-green);
}

.right-side {
    display: flex;
    gap: 8px;
}

.account-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-green-color);
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
}

.account-btn:hover {
    background-color: var(--hover-green);
}
/* FIM DO CABEÇALHO */

/* Carrousel */
.slider-container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 3rem auto;
    overflow: hidden;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: .5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 100%;
}
/* FIM DO CARROUSEL */

/* Catálogo */
.catalog {
    margin: 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog-header {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.catalog-header h2 {
    color: #2e2e2e;
}

.catalog-header a {
    color: var(--main-green-color);
    text-decoration: none;
    font-size: 15px;
}

.catalog-items {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 2rem;
}

.item{
    border: var(--default-border);
    padding: 1rem;
    border-radius: var(--default-border-radius);
    text-align: center;
}

.item-name {
    margin-bottom: 1rem;
}

.item-quant {
    font-weight: normal;
    color: #666666;
    font-size: .9rem;
}

.item-image img {
    width: 180px;
    border-radius: 1rem;
    margin-bottom: .4rem;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.item-price, .item-price span {
    color: var(--main-green-color);
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.item-btn {
    text-decoration: none;
    color: #fff;
    background-color: var(--main-green-color);
    padding: .5rem 1.8rem;
    border-radius: var(--default-border-radius);
    transition: .3s;
}

.item-btn:hover {
    background-color: var(--hover-green);
}

/* FIM DO CATÁLOGO */

.util {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.util-img img {
    width: 350px;
    border-radius: 2rem;
}

.util-txt {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
}

.util-txt h2 {
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.util-txt p {
    text-align: justify;
    margin-bottom: 2rem;
}

.util-txt a {
    text-decoration: none;
    background-color: var(--main-green-color);
    color: #fff;
    text-transform: capitalize;
    padding: var(--btn-padding);
    border-radius: var(--default-border-radius);
    transition: .3s;
}

.util-txt a:hover {
    background-color: var(--hover-green);
}

footer {
    width: 100vw;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/* MENU TOGGLE */
.off {
    display: none;
}

/* RESPONSIVIDADE */
@media (max-width: 1480px) {
    .search-bar input {
        width: 300px;
    }

    .catalog-items {
        flex-wrap: wrap;
    }

    .item-image img {
        width: 100px;
    }
    
}

@media (max-width: 1180px) {
    /* . */

    .right-side {
        display: none;
    }
}